.container {
  padding: 2em;
}

.container > h1 {
  padding-bottom: 1em;
}

.container > nav {
  display: block;
  padding-bottom: 3em;
}

.container > nav > li {
  padding: 1em;
}

.list-group {
  padding: 1em;
}

.list-group > li {
  padding: 1em;
  margin-bottom: 3em;
}

.list-group > .list-group-item > section.code {
  width: 95%;
  height: auto;
  margin: 0 auto;
  background: #1d1e21;
}

.list-group > .list-group-item > section > pre {
  color: #94b188;
}
